html, head, body, div {
	padding: 0px;
	margin: 0px;
	font-family: Arial, sans-serif;
}

div {
	padding: 1px;
}

h1 {
	color: green;
	text-align: center;
}

#contentlogin {
	background: #00cc44;
	padding: 10px;
}

#nav {
	display: flex;
	flex-wrap: wrap;
	background: lightgreen;
}

#nav > div {
	min-width: 150px;
	width: 15%;
	padding: 10px;
}

table, th, td {
	margin: 20px;
	padding: 20px;
	border-collapse: collapse;
	border: 1px solid green;
	text-align: center;
}

.picturecell {
	border: none;
	padding: 0px;
	margin: 0px;
}

.tablepic {
	border: none;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	max-width: 250px;
	max-height: 250px;
}

input[type=password] {
	background: lightgray;
}

button:hover {
	background-color: blue;
	color: white;
}

@media print {
	.picturecell {
		display: none;
	}
}

@media (min-width: 850px) {
	.picturcell {
		display: inline;
	}
}

@media (max-width: 849px) {
	.picturecell {
		display: none;
	}
}
